<a href="https://colab.research.google.com/github/brahimtalha15-sudo/Cloud-Enabled-Retail-Forecasting-Dashboard/blob/main/notebooks/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# data Importation

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving SALES_TOWN_TEAM.xlsm.xlsx to SALES_TOWN_TEAM.xlsm.xlsx

In [ ]:
import pandas as pd

merged_df_cleaned = pd.read_excel("/content/SALES_TOWN_TEAM.xlsm.xlsx", sheet_name = 'sales_appended', dtype={"BARCODE": str})

# Data EXPLORATION AND CLEANING

In [ ]:
merged_df_cleaned

,Hour,STORE_NAME,STORE,ITEMID,item_name,Gender,Size,Color,BARCODE,Date Timesold,TRANSACTIONID,Transction Type,SALESGROUP,RETURNTRANSACTIONID,QTY,NETAMOUNTINCLTAX
0,22,morocco mall town,1002,jns22gfdn22881tm1,jeans,men,38,dirty,000465159,2024-01-26 22:10:19,1002-10022-18294,sales,170027,NaN,1,199.6
1,18,morocco mall town,1002,jns22gfdn22583tm1,jeans,men,36,black,000478571,2024-01-31 18:00:06,1002-10022-18817,sales,170055,NaN,1,239.6
2,14,morocco mall town,1002,jns22gfdn22583tm1,jeans,men,38,black,000478572,2024-01-07 14:52:35,1002-10022-16978,sales,170043,NaN,1,299.5
3,13,morocco mall town,1002,jns22gfdn22532tm1,jeans,men,32,light blue,000479985,2024-01-19 13:14:04,1002-10022-17763,sales,170030,NaN,1,129.0
4,13,morocco mall town,1002,pan22gfga23190tm1,pants,men,34,black,000485049,2024-01-14 13:19:10,1002-10022-17532,sales,170030,NaN,1,249.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46334,16,morocco mall town,1002,swp23ssps24582tb1,sweatpants,boys,8,charcoal,000639244,2024-12-31 16:20:24,1002-10022-39894,return,170055,1002-10022-39893,-1,-215.4
46335,16,morocco mall town,1002,jns23sssx31289tb1,jeans,boys,8,grey,300030517,2024-12-31 16:20:24,1002-10022-39894,return,170055,1002-10022-39893,-1,-129.5
46336,16,morocco mall town,1002,swp23smpl24594tb1,sweatpants,boys,8,charcoal,300051276,2024-12-31 16:26:33,1002-10022-39895,sales,170030,NaN,1,129.5
46337,16,morocco mall town,1002,jns23sssx31289tb1,jeans,boys,8,grey,300030517,2024-12-31 16:26:33,1002-10022-39895,sales,170030,NaN,1,129.5
46338,16,morocco mall town,1002,jns24gcbw31377tb1,jeans,men,10,l-blue,600102078,2024-12-31 16:26:33,1002-10022-39895,sales,170030,NaN,1,251.4

In [ ]:
merged_df_cleaned['ITEMID'] = merged_df_cleaned['ITEMID'].str.strip().str.upper()
merged_df_cleaned['Size']   = merged_df_cleaned['Size'].str.strip().str.upper()
merged_df_cleaned['Color']  = merged_df_cleaned['Color'].str.strip().str.upper()

In [ ]:
merged_df_cleaned.info() # general infos on the table | So the results of cleaning and changing columns types in excel's power query are shown below
# 46339  rows
# 16 columns | before we had 25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46339 entries, 0 to 46338
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Hour                 46339 non-null  int64
 1   STORE_NAME           46339 non-null  object
 2   STORE                46339 non-null  int64
 3   ITEMID               46339 non-null  object
 4   item_name            46321 non-null  object
 5   Gender               46339 non-null  object
 6   Size                 46339 non-null  object
 7   Color                46339 non-null  object
 8   BARCODE              46335 non-null  object
 9   Date Timesold        46339 non-null  datetime64[ns]
 10  TRANSACTIONID        46339 non-null  object
 11  Transction Type      46339 non-null  object
 12  SALESGROUP           46339 non-null  int64
 13  RETURNTRANSACTIONID  2378 non-null   object
 14  QTY                  46339 non-null  int64
 15  NETAMOUNTINCLTAX     46339 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(10)
memory usage: 5.7+ MB

In [ ]:
merged_df_cleaned.describe()

,Hour,STORE,Date Timesold,SALESGROUP,QTY,NETAMOUNTINCLTAX
count,46339.000000,46339.0,46339,4.633900e+04,46339.000000,46339.000000
mean,16.354604,1002.0,2024-07-08 18:11:24.366494720,1.724090e+05,0.897365,191.998217
min,0.000000,1002.0,2024-01-01 11:40:30,1.012000e+03,-1.000000,-1759.000000
25%,14.000000,1002.0,2024-04-09 00:36:08,1.700300e+05,1.000000,110.160000
50%,16.000000,1002.0,2024-07-12 19:46:59,1.700420e+05,1.000000,188.730000
75%,19.000000,1002.0,2024-09-25 13:59:28.500000,1.700450e+05,1.000000,275.400000
max,23.000000,1002.0,2024-12-31 20:12:29,1.703009e+07,1.000000,1759.000000
std,3.359164,0.0,NaN,9.544809e+04,0.441294,171.375440

In [ ]:
merged_df_cleaned.isna().sum()

Hour                       0
STORE_NAME                 0
STORE                      0
ITEMID                     0
item_name                 18
Gender                     0
Size                       0
Color                      0
BARCODE                    4
Date Timesold              0
TRANSACTIONID              0
Transction Type            0
SALESGROUP                 0
RETURNTRANSACTIONID    43961
QTY                        0
NETAMOUNTINCLTAX           0
dtype: int64

In [ ]:
null_values_frequency = (merged_df_cleaned.isna().sum()/len(merged_df_cleaned)) * 100
null_values_frequency # % we can fill missing values in item_name based on ITEMID's first 3 letters.
# RETURNTRANSACTIONID	 : MNAR, it's logical
# BARCODE value depends on the size, color,price, and item ID columns. While this dependency could be helpful for filling missing values, we first need to verify that the pattern established by these columns is consistent between records where the barcode is missing and those where it's present

Hour                    0.000000
STORE_NAME              0.000000
STORE                   0.000000
ITEMID                  0.000000
item_name               0.038844
Gender                  0.000000
Size                    0.000000
Color                   0.000000
BARCODE                 0.008632
Date Timesold           0.000000
TRANSACTIONID           0.000000
Transction Type         0.000000
SALESGROUP              0.000000
RETURNTRANSACTIONID    94.868254
QTY                     0.000000
NETAMOUNTINCLTAX        0.000000
dtype: float64

# filling missing values of item_name

In [ ]:
merged_df_cleaned['prefix'] = merged_df_cleaned['ITEMID'].str[:3]

In [ ]:
merged_df_cleaned.head()

,Hour,STORE_NAME,STORE,ITEMID,item_name,Gender,Size,Color,BARCODE,Date Timesold,TRANSACTIONID,Transction Type,SALESGROUP,RETURNTRANSACTIONID,QTY,NETAMOUNTINCLTAX,prefix
0,22,morocco mall town,1002,JNS22GFDN22881TM1,jeans,men,38,DIRTY,000465159,2024-01-26 22:10:19,1002-10022-18294,sales,170027,NaN,1,199.6,JNS
1,18,morocco mall town,1002,JNS22GFDN22583TM1,jeans,men,36,BLACK,000478571,2024-01-31 18:00:06,1002-10022-18817,sales,170055,NaN,1,239.6,JNS
2,14,morocco mall town,1002,JNS22GFDN22583TM1,jeans,men,38,BLACK,000478572,2024-01-07 14:52:35,1002-10022-16978,sales,170043,NaN,1,299.5,JNS
3,13,morocco mall town,1002,JNS22GFDN22532TM1,jeans,men,32,LIGHT BLUE,000479985,2024-01-19 13:14:04,1002-10022-17763,sales,170030,NaN,1,129.0,JNS
4,13,morocco mall town,1002,PAN22GFGA23190TM1,pants,men,34,BLACK,000485049,2024-01-14 13:19:10,1002-10022-17532,sales,170030,NaN,1,249.5,PAN

In [ ]:
item_name_missing = merged_df_cleaned[merged_df_cleaned['item_name'].isna()]
item_name_missing # We observed that all missing item_name values are 'trousers'. While this could have been addressed more easily in power query, solving it this way ensures we have a robust method for dealing with missing item_name values, as long the itemid is present.

,Hour,STORE_NAME,STORE,ITEMID,item_name,Gender,Size,Color,BARCODE,Date Timesold,TRANSACTIONID,Transction Type,SALESGROUP,RETURNTRANSACTIONID,QTY,NETAMOUNTINCLTAX,prefix
1721,16,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,36,DK.OLIVE,300010186,2024-01-27 16:12:42,1002-10022-18390,sales,170042,NaN,1,199.6,TRO
5822,15,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,36,DK .GREY,300010196,2024-02-21 15:05:21,1002-10022-20692,sales,170038,NaN,1,199.6,TRO
7963,14,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,36,DK .GREY,300010196,2024-03-23 14:34:01,1002-10022-22696,sales,170030,NaN,1,199.6,TRO
9797,16,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,36,DK .GREY,300010196,2024-03-30 16:16:56,1002-10022-23327,return,170030,1002-10022-22696,-1,-199.6,TRO
10555,15,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,36,DK .GREY,300010196,2024-04-06 15:57:41,1002-10022-24110,sales,170022,NaN,1,249.5,TRO
18890,14,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,36,DK.OLIVE,300010186,2024-06-08 14:23:12,1002-10022-28804,sales,170027,NaN,1,303.6,TRO
25185,18,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,36,DK.OLIVE,300010186,2024-07-28 18:29:41,1002-10022-32537,sales,170043,NaN,1,227.7,TRO
26435,20,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,38,DK .GREY,300010197,2024-08-04 20:19:11,1002-10023-2288,sales,170027,NaN,1,227.7,TRO
26436,21,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,40,DK .GREY,300010198,2024-08-02 21:47:55,1002-10023-2146,sales,170027,NaN,1,227.7,TRO
26823,21,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,31,DK.OLIVE,300010182,2024-08-03 21:20:57,1002-10023-2229,sales,170027,NaN,1,227.7,TRO
28292,17,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,38,DK.OLIVE,300010187,2024-08-16 17:07:48,1002-10023-3020,sales,170055,NaN,1,227.7,TRO
28404,16,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,36,DK.OLIVE,300010186,2024-08-18 16:31:29,1002-10023-3168,sales,170030,NaN,1,227.7,TRO
33681,19,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,40,DK .GREY,300010198,2024-09-13 19:04:32,1002-10023-5102,sales,170030,NaN,1,0.0,TRO
34092,17,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,36,DK .GREY,300010196,2024-09-17 17:53:29,1002-10023-5400,sales,170078,NaN,1,0.0,TRO
37550,19,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,38,DK .GREY,300010197,2024-11-02 19:07:52,1002-10023-6864,sales,170043,NaN,1,303.6,TRO
41524,18,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,30,DK .GREY,300010191,2024-11-29 18:55:19,1002-10023-7893,sales,170078,NaN,1,149.7,TRO
42645,16,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,36,DK .GREY,300010196,2024-12-01 16:06:06,1002-10023-8404,sales,170030,NaN,1,149.7,TRO
44219,16,morocco mall town,1002,TRO23WFGA23562TM1,NaN,men,38,DK.OLIVE,300010187,2024-12-21 16:31:46,1002-10022-39176,sales,170078,NaN,1,199.6,TRO

In [ ]:

prefix_unique_count = len(merged_df_cleaned['prefix'].unique())
item_name_unique_count = len(merged_df_cleaned['item_name'].unique())
print (f"{prefix_unique_count} and {item_name_unique_count}") # we can see that we succesfully created the prefix column

39 and 39

In [ ]:
mapping =(
    merged_df_cleaned.dropna(subset=['item_name'])
      .groupby('prefix')['item_name']
      .agg(lambda x: x.mode()[0])
      .to_dict()
)

mapping

{'BEL': 'belts',
 'BLO': 'blouses',
 'BLZ': 'blazers',
 'BOX': 'boxers',
 'COA': 'coats',
 'DRS': 'dresses',
 'FSH': 'autumn shirts',
 'FTS': 'autumn t-shirts',
 'HBG': 'hand bag',
 'HWM': 'tank tops',
 'JAC': 'jackets',
 'JMP': 'jumpsuits',
 'JNS': 'jeans',
 'JOG': 'joggers',
 'LEG': 'leggings',
 'OSH': 'over shirts',
 'PAN': 'pants',
 'PJS': 'pajamas',
 'POS': 'polo shirts',
 'PUL': 'pullover',
 'SET': 'training sets',
 'SHI': 'long sleeves shirts',
 'SHO': 'shoes',
 'SHR': 'shorts',
 'SKR': 'skirts',
 'SOK': 'socks',
 'SSH': 'short sleeves shirts',
 'SWM': 'swim shorts',
 'SWO': 'swim shorts',
 'SWP': 'sweatpants',
 'SWS': 'sweatshirts',
 'TNK': 'tank tops',
 'TRO': 'trousers',
 'TSH': 't-shirts',
 'TST': 't-shirt sets',
 'UND': 'underwear',
 'VST': 'vests',
 'WLT': 'wallets',
 'WST': 'sweatshirt sets'}

In [ ]:
merged_df_cleaned['item_name'] = merged_df_cleaned.apply(
    lambda row: mapping.get(row['prefix'], row['item_name'])
                if pd.isna(row['item_name']) or row['item_name'] == ''
                else row['item_name'],
    axis=1
)

merged_df_cleaned[merged_df_cleaned['ITEMID']=='tro23wfga23562tm1'] # all missing values has been imputed

Empty DataFrame
Columns: [Hour, STORE_NAME, STORE, ITEMID, item_name, Gender, Size, Color, BARCODE, Date Timesold, TRANSACTIONID, Transction Type, SALESGROUP, RETURNTRANSACTIONID, QTY, NETAMOUNTINCLTAX, prefix]
Index: []

In [ ]:
merged_df_cleaned = merged_df_cleaned.drop(columns=['prefix'])

# <font color='lightgreen'># PREPARRING DATA FOR DAILY AND WEEKLY REVENUE MODEL, TARGET : daily_revenue/weekly revenue</font>

In [ ]:
final_data = merged_df_cleaned.drop(['Hour','STORE_NAME','STORE','BARCODE',], axis = 1)
final_data['Date Timesold'] = final_data['Date Timesold'].dt.date

final_data.head()

,ITEMID,item_name,Gender,Size,Color,Date Timesold,TRANSACTIONID,Transction Type,SALESGROUP,RETURNTRANSACTIONID,QTY,NETAMOUNTINCLTAX
0,JNS22GFDN22881TM1,jeans,men,38,DIRTY,2024-01-26,1002-10022-18294,sales,170027,NaN,1,199.6
1,JNS22GFDN22583TM1,jeans,men,36,BLACK,2024-01-31,1002-10022-18817,sales,170055,NaN,1,239.6
2,JNS22GFDN22583TM1,jeans,men,38,BLACK,2024-01-07,1002-10022-16978,sales,170043,NaN,1,299.5
3,JNS22GFDN22532TM1,jeans,men,32,LIGHT BLUE,2024-01-19,1002-10022-17763,sales,170030,NaN,1,129.0
4,PAN22GFGA23190TM1,pants,men,34,BLACK,2024-01-14,1002-10022-17532,sales,170030,NaN,1,249.5
...,...,...,...,...,...,...,...,...,...,...,...,...
46334,SWP23SSPS24582TB1,sweatpants,boys,8,CHARCOAL,2024-12-31,1002-10022-39894,return,170055,1002-10022-39893,-1,-215.4
46335,JNS23SSSX31289TB1,jeans,boys,8,GREY,2024-12-31,1002-10022-39894,return,170055,1002-10022-39893,-1,-129.5
46336,SWP23SMPL24594TB1,sweatpants,boys,8,CHARCOAL,2024-12-31,1002-10022-39895,sales,170030,NaN,1,129.5
46337,JNS23SSSX31289TB1,jeans,boys,8,GREY,2024-12-31,1002-10022-39895,sales,170030,NaN,1,129.5
46338,JNS24GCBW31377TB1,jeans,men,10,L-BLUE,2024-12-31,1002-10022-39895,sales,170030,NaN,1,251.4

In [ ]:

sales_df = final_data[(final_data['Transction Type'] == 'sales')]

# To select only true sales, because some transactions were marked as sales but its items where returned later
sales_df['Date Timesold'] = pd.to_datetime(sales_df['Date Timesold'], errors='coerce')

/tmp/ipython-input-677085150.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_df['Date Timesold'] = pd.to_datetime(sales_df['Date Timesold'], errors='coerce')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
sales_df.to_excel('/content/drive/MyDrive/final_table.xlsx', index=False)

# daily revenue predictions

In [ ]:
df_daily_revenue = (
    sales_df.groupby('Date Timesold')
            .agg(total_revenue=('NETAMOUNTINCLTAX', 'sum'))
            .reset_index()
            .rename(columns={'Date Timesold': 'date'})
)
# summing netamountincltax same as sum*quatity sold
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40765 entries, 0 to 46338
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ITEMID               40765 non-null  object
 1   item_name            40765 non-null  object
 2   Gender               40765 non-null  object
 3   Size                 40765 non-null  object
 4   Color                40765 non-null  object
 5   Date Timesold        40765 non-null  datetime64[ns]
 6   TRANSACTIONID        40765 non-null  object
 7   Transction Type      40765 non-null  object
 8   SALESGROUP           40765 non-null  int64
 9   RETURNTRANSACTIONID  0 non-null      object
 10  QTY                  40765 non-null  int64
 11  NETAMOUNTINCLTAX     40765 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 4.0+ MB

In [ ]:
df_daily_revenue['date'] = pd.to_datetime(df_daily_revenue['date'], errors='coerce')
df_daily_revenue = df_daily_revenue.sort_values('date').set_index('date')

from google.colab import drive
drive.mount('/content/drive')

merged_df_cleaned.to_excel('/content/drive/MyDrive/final_table.xlsx', index=False)

In [ ]:
df_daily_revenue.rename(columns={'total_revenue': 'daily_total_rev'}, inplace=True)  # we need date as an index for proper shifting
df_daily_revenue

            daily_total_rev
date
2024-01-01          32685.3
2024-01-02          13358.2
2024-01-03          14475.0
2024-01-04          27891.3
2024-01-05          21104.3
...                     ...
2024-12-27          38482.5
2024-12-28         110338.5
2024-12-29          97707.6
2024-12-30          13528.9
2024-12-31          16439.3

[365 rows x 1 columns]

In [ ]:
#we're goinf to train three models random forest, sarima, and prophet
# feature engeenering, creating lag features and MA(moving average) features, this is only for random forest, sarima and prophet allready can handle time series properly.
df_daily_revenue['lag1'] = df_daily_revenue['daily_total_rev'].shift(1)
df_daily_revenue['lag7'] = df_daily_revenue['daily_total_rev'].shift(7)
df_daily_revenue['lag30'] = df_daily_revenue['daily_total_rev'].shift(30)

df_daily_revenue['roll_mean_7']  = df_daily_revenue['daily_total_rev'].rolling(7).mean()
df_daily_revenue['roll_mean_30'] = df_daily_revenue['daily_total_rev'].rolling(30).mean()

# Drop rows with NaN after shifts
df_feat = df_daily_revenue.dropna()

In [ ]:
df_daily_revenue
# as we see 4 columns were added. lag allows to caputer temporal dependency (autocorrelation). MA smooth the series to reduce noise and reveal trends (simply this mean of 30 days)
# we have 365 day, and all lag and ma values are placed correctly.

,daily_total_rev,lag1,lag7,lag30,roll_mean_7,roll_mean_30
date,,,,,,
2024-01-01,32685.3,NaN,NaN,NaN,NaN,NaN
2024-01-02,13358.2,32685.3,NaN,NaN,NaN,NaN
2024-01-03,14475.0,13358.2,NaN,NaN,NaN,NaN
2024-01-04,27891.3,14475.0,NaN,NaN,NaN,NaN
2024-01-05,21104.3,27891.3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2024-12-27,38482.5,44869.4,12475.6,11468.30,30320.771429,41447.941667
2024-12-28,110338.5,38482.5,41310.0,35153.00,40181.985714,43954.125000
2024-12-29,97707.6,110338.5,47052.7,209585.34,47418.400000,40224.867000
2024-12-30,13528.9,97707.6,9496.9,195087.69,47994.400000,34172.907333
2024-12-31,16439.3,13528.9,11569.6,205768.69,48690.071429,27861.927667

In [ ]:
# train and test spliting is the same for all daily revenue predictive models
index_80_percent = int(len(df_daily_revenue)*0.8) # t his gives an int which is 80 % of our data, basicaly we're going to use index_80_percent to split data into training set and testing set
test_set_rf = df_daily_revenue.iloc[index_80_percent:] # 20% test | RF
train_set_rd = df_daily_revenue.iloc[:index_80_percent] # 80% train | RF


train_set_sarima = df_daily_revenue.iloc[:index_80_percent] # 80% test | sarima
test_set_sarima  = df_daily_revenue.iloc[index_80_percent:] # 20% train | sarima

## RandomForest

## Prophet

# Weekly revenue prediction | training  after Daily revenue models

In [ ]:

sales_df['year_week'] = sales_df['Date Timesold'].dt.to_period('W').astype(str)

df_weekly_revenue = (
    sales_df.groupby('year_week')
            .agg(total_revenue=('NETAMOUNTINCLTAX', 'sum'))
            .reset_index()
)
df_weekly_revenue.rename(columns={'total_revenue': 'weekly_total_rev'}, inplace=True)
df_weekly_revenue.head()

               year_week  weekly_total_rev
0  2024-01-01/2024-01-07         208393.65
1  2024-01-08/2024-01-14         137970.33
2  2024-01-15/2024-01-21         107200.63
3  2024-01-22/2024-01-28         186944.54
4  2024-01-29/2024-02-04         193015.36